<h1>My cocktails</h1>
<% if current_user.role == "Seller" %>
  <% unless @cocktails.nil? %>
    <% @cocktails.each do |cocktail| %>
      <%= cl_image_tag cocktail.photo.key %>
      <%= cocktail.name %>
      <%= cocktail.description %>
      <%= cocktail.price %>
      <%= cocktail.place %>
      <%= cocktail.availability %>
      <% if cocktail.user == current_user %>
        <%= link_to "Edit this cocktail", edit_cocktail_path(cocktail) %>
        <%= link_to "Delete this cocktail", cocktail_path(cocktail), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<h1>My bookings</h1>
<% unless @bookings.nil? %>
  <% @bookings.each do |booking| %>
    <%= cl_image_tag booking.cocktail.photo.key %>
    <%= booking.date %>
    <%= booking.cocktail.name %>
    <%= booking.cocktail.price %>
    <%= booking.cocktail.description %>
    <%= booking.cocktail.place %>
  <% end %>
<% end %>
