<div class=" form_cocktail container m-3">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :price, required: true %>
    <%= f.input :description, required: true %>
    <%= f.input :place, required: true %>
    <%= f.input :availability, required: true %>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.button :submit, required: true, class:"btn btn-primary" %>
  <% end %>
</div>
